@charset "UTF-8";
/* Document CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row:after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 5px;
}

body {
  font-family: "Lucida Sans", sans-serif;
  background-color: #dedcdd;
}

nav {
  border: 5px solid #aa0000; /* Ilustrativo */
  border-radius: 5px;
  background-color: white;
}

.menu-fixed {
  position: fixed;
  z-index: 99;
}

nav div.little_logo {
  /*border: 2px solid black; /* Ilustrativo */
  width: 48px;
  height: 48px;
  display: inline-block;
  background-image: url("../img/little-logo.jpg");
  background-repeat: no-repeat;
}

header {
  background-image: url("../img/header-logo.jpg");
	background-repeat: no-repeat;
	background-position: center;
  background-size: contain;
  height:200px;

  /*border: 2px solid #aa0000;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;*/
}



/* Tudo relacionado ao Conteúdo do Inicio */
section.conteudo-inicio {
  /*border: 2px solid black; /* Ilustrativo */
  background-color: white;
  height: auto;
}



/* Texto de Apresentação */
section.conteudo-inicio div.apresentacao {
	/*display: inline-block; Pode ser passado para o "site-wen.css" */
	width: auto;
	text-align: center; /* Está afetando somente o H1 */
	font-size: 18px; /* Está afetando somente o H1 */
	/*margin: 4px 0 0 56px; Pode ser passado para o "site-wen.css" */
	padding: 6px 4px 4px 4px;
}

section.conteudo-inicio div.apresentacao h1 {
  border: 2px solid black;
	border-radius: 10px;
	background-color: #aa0000;
	color: white;
  padding: 4px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 2px;
	text-align: center; /* Está afetando somente o H1 */
	font-size: 18px; /* Está afetando somente o H1 */
}

section.conteudo-inicio div.apresentacao p#para1, section.conteudo-inicio div.apresentacao p#para2 {
	text-align: justify;
	font-size: 16px;
	margin-top: 8px;
	text-indent: 20px;
}






/* Pequeno menu GOVERNO e alguma funcionalidades do pequeno MENU SERVIÇOS */

section.conteudo-inicio div.governo {
  margin-top: 20px;
	border: 2px solid black;
	border-radius: 10px;
	/*display: block;*/
	padding: 4px;
	background-color: #aa0000;
	color: white;
	/*float: left;*/
}

section.conteudo-inicio div.governo p, section.conteudo-inicio div.servicos p {
	/*border: 2px solid black; /* ilustrativo */
	/*display: inline-block;*/
	margin-bottom: 4px;
	/*margin-left: 32px;*/
	font-size: 18px;
}

section.conteudo-inicio div.governo ul, section.conteudo-inicio div.servicos ul {
	/*border: 2px solid black; /* ilustraivo */
	list-style: none;
	padding: 2px;
}

section.conteudo-inicio div.governo ul li, section.conteudo-inicio div.servicos ul li {
	/*border: 2px solid black; /* ilustraivo */
	font-size: 16px;
	font-weight: bold;
	margin-top: 4px;
	margin-bottom: 4px;
}

section.conteudo-inicio div.governo ul li a, section.conteudo-inicio div.servicos ul li a {
	border: 2px solid black;
	border-radius: 10px;
	text-decoration: none;
	background-color: white;
	color: black;
	/*display: inline-block;*/
	width: 140px;
	padding: 4px;
}

section.conteudo-inicio div.governo ul li a:hover, section.conteudo-inicio div.servicos ul li a:hover {
	background-color: #c0c0c0;
}


/* Pequeno menu SERVIÇOS */
/* Algumas funcionalidades estão no CSS do pequeno MENU GOVERNO */

section.conteudo-inicio div.servicos { /* modificado */
  margin-top: 20px;
	border: 2px solid black;
	border-radius: 10px;
	/*display: block;*/
	/*padding: 4px;*/
	background-color: #aa0000;
	color: white;
	/*position: absolute;
	right: 4px;
	margin: 4px 4px 0 0;
	float: right;*/
}





/* TALVEZ ALGUMAS PROPRIEDADES TERÃO QUE IR PARA "site-web.css" (Verificar) */

/* footer */
footer {
	border-radius: 10px;
}

footer section.first {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: auto;
	padding: 4px;
	background-color: #aa0000;
	position: relative;
}

/*footer section.first div.footer-logo {
  /*border: 2px solid black; /* Ilustrativo
  background-image: url("../img/footer-logo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 100px;
}*/


/* Tudo relacionado a div da classe Social */

footer section.first div.social {
	border: 2px solid #b0b0b0;
	border-radius: 10px;
	background-color: white;
	display: inline-block;
}

footer section.first div.social h2 {
	/*border: 2px solid black; /* ilustrativo */
	margin: 2px 0 4px 2px;
	font-size: 16px;
	color: #aa0000;
}

footer section.first div.social div#phone {
	/*border: 2px solid black; /* ilustrativo */
	display: inline-block;
	background-image: url("../img/phone.png");
	background-repeat: no-repeat;
	background-position: left;
	padding: 4px 0 4px 22px;
	margin: 2px 0 1px 2px;
	font-weight: bold;
}

footer section.first div.social div#email {
	/*border: 2px solid black; /* ilustrativo */
	display: inline-block;
	background-image: url("../img/email.png");
	background-repeat: no-repeat;
	background-position: left;
	padding: 4px 0 4px 22px;
	margin: 2px 0 1px 2px;
	font-weight: bold;
}

footer section.first div.social div#address {
	/*border: 2px solid black; /* ilustrativo */
	display: inline-block;
	background-image: url("../img/address.png");
	background-repeat: no-repeat;
	background-position: left;
	padding: 4px 0 4px 22px;
	margin: 2px 0 1px 2px;
	font-weight: bold;
}
/* ^^^^^^^^^^^^ */



/* Descrição Mauriti Rodapé */
footer section.first div.desc-mauriti h1{
	/*border: 2px solid black; /* ilustrativo */
	margin-top: 6px;
	margin-bottom: 6px;
	font-size: 20px;
	color: white;
  text-align: center;
}

footer section.first div.desc-mauriti p{
	/*border: 2px solid black; /* ilustrativo */
	margin-bottom: 2px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	text-align: justify;
}


/* ^^^^^^^^^^^^ */

/* Tudo corespondente a segunda section da footer */

footer section.second {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: auto;
	text-align: center;
	font-size: 10px;
	padding: 8px 0 4px 0;
	background-color: #820000;
	color: white;
}
